:root {
  --primary: #1D8DB0;
  --secondary: #ffffff;
  --tertiary: #00407A;
  --black: #000000;
}

table td {
  border: 5px solid
}

td:hover { 
  background-color: lightblue;
}

table td.crossed
{
  background-color: #eeeeee ;
  /*background-image: linear-gradient(to bottom right,  transparent calc(50% - 1px), grey, transparent calc(50% + 1px)); */
  
}

.has-text-tertiary {
  color: var(--tertiary)
}

.wrap {
  border: var(--tertiary) solid 3px;
}

hr {
  height:3px;
  border-width:0;
  color: var(--tertiary);
  background-color: var(--tertiary);
}

.footer {
 background-color: var(--primary);
}


.slider {
  background-color: var(--primary);
}

#svg {
  border: grey solid 3px;
}



